$padding-gap: 0 24px;
$grid-width: 1124px;

@mixin grid {
  max-width: $grid-width;
  margin: 0 auto;
}

@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin margins {
  @for $i from 1 through 500 {
    .mt-#{$i} {
      margin-top: #{$i}px;
    }

    .minus-mt-#{$i} {
      margin-top: -#{$i}px;
    }
  
    .pt-#{$i} {
      padding-top: #{$i}px;
    }
  
    .mb-#{$i} {
      margin-bottom: #{$i}px;
    }
    
    .minus-mb-#{$i} {
      margin-bottom: -#{$i}px;
    }
  
    .pb-#{$i} {
      padding-bottom: #{$i}px;
    }
  }
}