@import "../../styles/constansts";
@import "../../styles/colors";

.work {
  @include grid();
  padding: $padding-gap;
  height: 100%;
  //   display: flex;
  //   justify-content: center;
  flex: 1;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  box-sizing: border-box;
  div {
    box-sizing: border-box;
  }
  .slide {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    max-width: 863px;
  }

  .slideColumn {
    padding: 0 12px;
  }

  .columnPic {
    width: 41.6666666667%;
    img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }
  }
  .columnInformation {
    flex: 1;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
  }

  .workType {
    font-size: 30px;
  }
  .workTitle {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
  }

  .workDescription {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: "Source Code Pro", monospace;
  }

  .workTable {
    width: 100%;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
  }

  .workTableRow {
    display: flex;
    padding-top: 5px;
    width: 100%;
  }

  .workTableHeader {
    font-weight: 500;
    text-transform: uppercase;
    flex: 1;
  }
  .workTableColumn {
    flex: 1;
  }

  .viewMore {
    margin-top: 44px;
    &.white {
      > a {
        color: white;
        border-color: white;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
    > a {
      color: inherit;
      border: 1px solid currentColor;
      text-decoration: none;
      width: 236px;
      font-family: "Source Code Pro", monospace;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 72px;
      transition: background-color 0.4s ease-in-out;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  @media (max-width: 765px) {
    .slide {
      flex-direction: column;
    }
    .columnInformation,
    .columnPic {
      width: 100%;
    }

    .columnPic {
      max-width: 200px;
      margin: 0 auto;
    }
    .workTitle {
      font-size: 38px;
      line-height: 38px;
    }

    .workType {
      font-size: 18px;
    }

    .viewMore {
      justify-content: center;
      display: flex;
    }
  }
}

.workCounter {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: $padding-gap;

  @media (max-width: 1024px) {
    top: 0;
    transform: none;
    right: 0;
    left: auto;
    padding-top: 75px;
  }
}

.workNumbers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workPipe {
  padding: 0 4px;
}

.workTotal {
  font-size: 18px;
}

.workCounterLabel {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12px;
  font-family: "Source Code Pro", monospace;
}
