.animatedText {
  padding: 0 24px;
  width: 150px;
  text-align: center;
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
  }
  &::after {
    content: " ";
    padding: 0 2px;
  }
}
