@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import '../styles/colors';

.body {
    background-color: $color-fake-sky-blue;
    font-family: "Montserrat", sans-serif;
    color: #333;
    margin: 0;
    padding: 8px;
    transition: background-color .7s ease-in-out;
}