@import "../../../styles/constansts";
@import "../../../styles/colors";

.detailWork {
  .paletteColors {
    margin: 0 -8px;
  }

  .paletteColorsWrapper {
    @include grid();
    width: 50%;
    padding: 95px 0;
    box-sizing: border-box;

    @media (max-width: 765px) {
      padding: 95px 24px;
      width: 100%;
    }
  }

  .paletteColorTitle {
    font-family: "Montserrat", sans-serif;
    color: $color-prophet-violet;
    font-size: 28px;
    font-weight: 600;
  }

  .palettetColorsContainer {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin: 0 -25px;

    li {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 25px;
    }
  }
  .paletteColorsText {
    margin: 0;
    margin-top: 20px;
    font-family: "Source Code Pro", monospace;
    color: $color-black-russian;
    font-size: 16px;
    line-height: 32px;
  }

  @include margins();
}
